<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta content="IE=7.0000" http-equiv="X-UA-Compatible">
<title>Mengqi Huang's Homepage</title>
<meta name="description" content="Mengqi Huang, 黄梦琪, Phd sutudent of USTC">
<meta name="keywords" content="Mengqi Huang, 黄梦琪, Phd sutudent of USTC, cross-modality learning">

<!-- <link rel="stylesheet" type="text/css" href="./files/xiangnan.css"> -->
<!-- <script type="text/javascript" async="" src="./files/ga.js"></script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39532305-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> -->

<style>@-moz-keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}@-webkit-keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}@-o-keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}@keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}embed,object{animation-duration:.001s;-ms-animation-duration:.001s;-moz-animation-duration:.001s;-webkit-animation-duration:.001s;-o-animation-duration:.001s;animation-name:nodeInserted;-ms-animation-name:nodeInserted;-moz-animation-name:nodeInserted;-webkit-animation-name:nodeInserted;-o-animation-name:nodeInserted;}
</style></head>


<body>
<div id="content">

<div id="news">
<h2>News</h2><br>
<font size="3px">

<b>7 July 2022</b><br>
<span class="easylink">
One paper is accepted by ACM Multimedia 2022 on Text-to-Image Generation. </b>
</span><br><br>

</div>

<div id="left">
<table style="background-color:white;">
<tbody><tr nosave="">
<td valign="CENTER">
<img src="./files/xiangnan_profile_2018.png" height="250" align="left">
</td>

<td valign="CENTER" width="2%">
</td>

<td valign="CENTER" halign="LEFT">
<font size="+0">
<b><font size="+2">Mengqi Huang&nbsp;</font></b>
<p style="margin-left:0px;">
<img src="./files/name.png", height="60">
</p><p style="margin-left:0px;">
<b>Phd student</b>
</p><p style="margin-left:0px;">
<!-- <a href="http://sds.ustc.edu.cn/", target="_blank">School of Data Science</a><br/>
<a href="https://sist.ustc.edu.cn/", target="_blank">School of Information Science and Technology</a><br/> -->
<a href="https://www.ustc.edu.cn/", target="_blank">University of Science and Technology of China</a><br/>
</p><p style="margin-left:0px;">
443 Huangshan Road, Hefei, China 230027<br>
</p><p style="margin-left:0px;">
Email:  huangmq@mail.ustc.edu.cn</a><br>
</p></font><p><font size="+0">
</font>
</p></td>
</tr>
</tbody></table>

<div class="box">
brief </br></br>

<font color="red">
Advertisements: </br>
</font>
</div>

<h2 style="CLEAR: both;">Education</h2>



<div id="papers">
<h2>Selected Publications</h2> (Full list see my [<A href="http://data-science.ustc.edu.cn/PUBLICATION/list.htm">Group Homepage<A>] [<A href="https://scholar.google.com.sg/citations?user=X45Go24AAAAJ">Google Scholar<A>] ) 
</br>

<b> In the Year of 2022: </b> </br></br>

<table><tbody><tr><td>
	<span class="title">Collaborative Filtering for Implicit Feedback </span> &nbsp;&nbsp; <br> 
   - Tsinghua University, December 21, 2016 (invited by Prof. Zhang Min) <br> 
  - Hefei University of Technology, December 16, 2016 (invited by Prof. Hong Richang) <br> - Zhejiang University, December 15, 2016 (invited by Prof. Xiao Jun)
</td></tr></tbody></table> 
-->

<h2 style="CLEAR: both;">Competitions</h2>
		
<h2 style="CLEAR: both;">Internships</h2>


</br>
<div id="clustrmaps-widget"></div> <a href="https://clustrmaps.com/site/1ar45" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=pOxL65gH8wBpuXWGnAjJCae9JXXk5f34asoMtTSZRVA&cl=ffffff"></a>

<p>Last update: 16 May, 2022. Webpage template borrows from <a href="http://wnzhang.net/">Weinan Zhang</a>.</p>

</div>
</div>


</body></html>
