html {
    font-size: 100%;
    background: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 15px;
    font-family: Georgia;
    color: #222;
    margin: 0;
}

#header {
    background: #a8bed5;
    margin: 0 auto;
}

#footer {
    background: #0a2245;
    margin: 0 auto;
    height: 100px;
    vertical-align: bottom;
}

#content {
    background: white;
    padding: 20px 50px 50px;
    margin: 0 auto;
    width: 927px;
}

h0 {
    font-size: 30px;
    display: inline-block;
}

h1 {
    font-size: 25px;
    padding-top: 15px;
    display: inline-block;
}

h2 {
    font-size: 20px;
    padding-top: 15px;
    display: inline-block;
}

h3 {
    display: bold;
}

p {
    margin: 10px 40px 10px 10px;
}

table {
    margin-bottom: 10px;
    font-size: 13px;
    border-collapse: collapse;
    text-align: left;
    width: 680px;
    background-color: #f6fbfe;
}

.title {
    font-weight: bold;
}

table a {
    color: black;
    text-decoration: none;
}

.easylink {
    color: black;
    text-decoration: none;
}

td {
    padding: 3px 5px 1px;
}

.left {
    font-size: 10px;
    text-align: center;
    width: 25px;
    background-color: #e2eff9;
}

.content-bottom {
    position: absolute;
    background: #0a2245;
    height: 100px;
}

a:link {
    color: #483D8B;
    text-decoration: none;
}

a:visited {
    color: #483D8B;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

#profile {
    float: left;
    clear: both;
}

#intro {
    float: left;
    clear: both;
}

#papers {
    float: left;
    clear: both;
}

#left {
    float: left;
    width: 705px;
}

#right {
    float: right;
    margin: 16px -5px 0 6px;
}

.thumbnail {
    display: block;
    padding: 4px;
    line-height: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: 0 1px 1px rgba(0,0,0,0.075);
}

a.thumbnail:hover {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}

.thumbnail > img {
    display: block;
    margin: 0 auto;
}

#news {
    float: right;
    width: 200px;
    font-size: 13pt;
    background: #eee;
    margin-top: 0;
    padding: 0 10px 15px;
}

#news .easylink {
    font-size: 0.8em;
    font-weight: normal;
}

.inbox {
    margin-top: 5px;
    padding-bottom: 7px;
}